:root {
  --primary-color: #2e2e2e;
  --secondary-color: #111;
  --pccomponentes-color: #ff6000;
  --link-color: white;
  --link-hover-color: #8b8b8b;
  --button-color: transparent;
  --button-hover-color: #111;
  --footer-color: #c4c3c3;
  --spacing: 10px;
  --spacing-grid: 25px;
  --spacing-articulos: 55px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* CSS DEL HEADER */
nav {
  width: 100%;
  background-color: var(--primary-color);
}

.navbar-contenido {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing);
}

.logo {
  margin-right: var(--spacing);
}

.logo img {
  min-width: 130px;
}

.lista-busqueda,
.lista-botones {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.lista-busqueda li {
  margin-right: var(--spacing);
}

.lista-botones li {
  margin-left: var(--spacing);
}

.lista-busqueda .drop h1 {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f2f2f2;
  color: var(--primary-color);
  cursor: pointer;
  text-align: center;
}

.lista-busqueda h1.dropboton:hover {
  background-color: var(--link-hover-color);
  border-color: var(--link-hover-color);
}

.lista-busqueda .drop {
  margin-right: -1px;
}

.lista-busqueda input[type='text'] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f2f2f2;
}

.drop {
  position: relative;
}

.drop-contenido {
  display: none;
  position: absolute;
  background-color: var(--primary-color);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.drop-contenido a {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  color: var(--link-color);
}

.drop-contenido a:hover {
  background-color: var(--link-hover-color);
}

.drop:hover .drop-contenido {
  display: block;
}

.lista-botones button {
  background-color: var(--button-color);
  color: var(--link-color);
  border: none;
  cursor: pointer;
  padding: var(--spacing);
}

.lista-botones button:hover {
  background-color: var(--button-hover-color);
}

/* CSS DEL MAIN */
main {
  width: 100%;
  max-width: 100%;
  height: 100%;
}
.grid-contenedor {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: repeat(3, 1fr);
  grid-gap: var(--spacing-grid);
  grid-template-areas:
    ' oferta oferta oferta oferta oferta oferta'
    'gaming portatiles ordenadores componentes monitores perifericos'
    'smartphones tvaudio consolas smartwatches hogar outdoor';
  width: 100%;
  height: 100%;
  padding: var(--spacing-grid);
  background-color: var(--pccomponentes-color);
}

article img {
  max-width: 100%;
  height: auto;
  max-height: 100%;
  border-radius: 1rem;
  width: 100%;
}

.oferta {
  grid-area: oferta;
  background-size: cover;
}

.gaming {
  grid-area: gaming;
}

.portatiles {
  grid-area: portatiles;
}

.ordenadores {
  grid-area: ordenadores;
}

.componentes {
  grid-area: componentes;
}

.monitores {
  grid-area: monitores;
}

.perifericos {
  grid-area: perifericos;
}

.smartphones {
  grid-area: smartphones;
}

.tvaudio {
  grid-area: tvaudio;
}

.consolas {
  grid-area: consolas;
}

.smartwatches {
  grid-area: smartwatches;
}

.hogar {
  grid-area: hogar;
}

.outdoor {
  grid-area: outdoor;
}

.otros-articulos-contenedor {
  overflow-x: auto;
  padding: var(--spacing-articulos) 0;
}

.otros-articulos {
  display: flex;
  justify-content: space-between;
  margin: 0 var(--spacing-grid);
}

.otros-articulos article {
  flex: 0 0 calc(16.66% - 20px);
  margin-right: var(--spacing-grid);
}

.otros-articulos img {
  max-width: 100%;
  height: auto;
}

.otros-articulos h2 {
  font-size: 20px;
  margin: 10px 0;
  min-width: 150px;
}

.otros-articulos .precio {
  font-weight: bold;
  color: var(--pccomponentes-color);
}

/* CSS DEL FOOTER */
footer {
  background-color: var(--footer-color);
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.footer-columna {
  flex: 1;
  margin-right: 20px;
}

.footer-columna:last-child {
  margin-right: 0;
}

.footer-columna ul {
  list-style-type: none;
  padding: 0;
}

.footer-columna ul li {
  margin-bottom: 20px;
  cursor: pointer;
}

.footer-columna ul li:hover {
  color: var(--pccomponentes-color);
}

/* MEDIA SCREEN */
@media (min-width: 376px) {
  .lista-busqueda input[type='text'] {
    display: block;
  }

  .lista-busqueda .icono-buscar {
    display: none;
  }

  .pc {
    display: block;
  }

  .mobile {
    display: none;
  }
}

@media (max-width: 375px) {
  .logo {
    display: none;
  }

  .lista-busqueda h1.dropboton {
    margin: var(--spacing);
    background-color: var(--pccomponentes-color);
    border: none;
    font-size: 20px;
  }

  .lista-busqueda .drop {
    margin-right: 10px;
  }

  .lista-busqueda input[type='text'] {
    display: none;
  }

  .lista-busqueda .icono-buscar {
    display: block;
    width: 60px;
    height: 50px;
    margin-left: auto;
    background: url('https://static.vecteezy.com/system/resources/previews/009/589/567/non_2x/magnifying-icon-magnifying-clipart-transparent-free-png.png')
      no-repeat;
    background-size: contain;
    cursor: pointer;
  }

  .pc {
    display: none;
  }

  .mobile {
    display: block;
  }
  .grid-contenedor {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr repeat(5, auto);
    grid-template-areas:
      'oferta oferta'
      'gaming portatiles'
      'ordenadores componentes'
      'monitores perifericos'
      'smartphones tvaudio'
      'consolas smartwatches'
      'hogar outdoor';
  }

  .otros-articulos {
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  .otros-articulos article {
    margin-right: var(--spacing);
  }

  .footer-columna {
    flex: 1;
    margin-right: 0;
    margin-bottom: 20px;
  }

  footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 510px) {
  .lista-botones li {
    display: none;
  }
}
