:root {
  --primary-color: #111010;
  --secondary-color: #111;
  --pccomponentes-color: #ff6000;
  --link-color: white;
  --link-hover-color: #8b8b8b;
  --button-color: transparent;
  --button-hover-color: #111;
  --footer-color: #c4c3c3;
  --spacing: 10px;
  --spacing-grid: 25px;
  --spacing-articulos: 55px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* CSS DEL HEADER */
nav {
  width: 100%;
  background-color: var(--primary-color);
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing);
}

.logo {
  margin-right: var(--spacing);
}

.logo img {
  min-width: 130px;
}

.menu-search-list,
.action-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.menu-search-list li {
  margin-right: var(--spacing);
}

.action-list li {
  margin-left: var(--spacing);
}

.menu-search-list .dropdown h3 {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f2f2f2;
  color: #333;
  cursor: pointer;
  text-align: center;
}

.menu-search-list h3.dropbtn:hover {
  background-color: var(--link-hover-color);
  border-color: #8b8b8b;
}

.menu-search-list .dropdown {
  margin-right: -1px;
}

.menu-search-list input[type='text'] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f2f2f2;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--primary-color);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  color: var(--link-color);
}

.dropdown-content a:hover {
  background-color: var(--link-hover-color);
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* .action-list input[type='text'] {
  padding: var(--spacing);
  border: none;
  font-size: 17px;
} */

.action-list button {
  background-color: var(--button-color);
  color: var(--link-color);
  border: none;
  cursor: pointer;
  padding: var(--spacing);
}

.action-list button:hover {
  background-color: var(--button-hover-color);
}

@media (min-width: 376px) {
  /* .menu-search-list h3.dropbtn::before {
    content: '';
  } */

  .menu-search-list input[type='text'] {
    display: block;
  }

  .menu-search-list .search-icon {
    display: none;
  }

  .pc {
    display: block;
  }

  .mobile {
    display: none;
  }
}

@media (max-width: 375px) {
  .logo,
  .action-list li {
    display: none;
  }

  .menu-search-list h3.dropbtn {
    margin: var(--spacing);
    background-color: var(--pccomponentes-color);
    border: none;
    font-size: 20px;
  }

  .menu-search-list .dropdown {
    margin-right: 10px;
  }

  .menu-search-list input[type='text'] {
    display: none;
  }

  .menu-search-list .search-icon {
    display: block;
    width: 60px;
    height: 50px;
    margin-left: auto;
    background: url('https://static.vecteezy.com/system/resources/previews/009/589/567/non_2x/magnifying-icon-magnifying-clipart-transparent-free-png.png')
      no-repeat;
    background-size: contain;
    cursor: pointer;
  }

  .pc {
    display: none;
  }

  .mobile {
    display: block;
  }
}

/* CSS DEL MAIN */
main {
  width: 100%;
  max-width: 100%;
  height: 100%;
}
.grid-contenedor {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: repeat(3, 1fr);
  grid-gap: var(--spacing-grid);
  grid-template-areas:
    ' oferta oferta oferta oferta oferta oferta'
    'gaming portatiles ordenadores componentes monitores perifericos'
    'smartphones tvaudio consolas smartwatches hogar outdoor';
  width: 100%;
  height: 100%;
  padding: var(--spacing-grid);
  background-color: var(--pccomponentes-color);
}

article img {
  max-width: 100%;
  height: auto;
  max-height: 100%;
  border-radius: 1rem;
  width: 100%;
}

.oferta {
  grid-area: oferta;
  background-size: cover;
}

.gaming {
  grid-area: gaming;
}

.portatiles {
  grid-area: portatiles;
}

.ordenadores {
  grid-area: ordenadores;
}

.componentes {
  grid-area: componentes;
}

.monitores {
  grid-area: monitores;
}

.perifericos {
  grid-area: perifericos;
}

.smartphones {
  grid-area: smartphones;
}

.tvaudio {
  grid-area: tvaudio;
}

.consolas {
  grid-area: consolas;
}

.smartwatches {
  grid-area: smartwatches;
}

.hogar {
  grid-area: hogar;
}

.outdoor {
  grid-area: outdoor;
}

.otros-articulos {
  display: flex;
  justify-content: space-between;
  margin: var(--spacing-articulos);
}

.otros-articulos article {
  flex: 0 0 calc(16.66% - 20px);
}

.otros-articulos img {
  max-width: 100%;
  height: auto;
  width: 66%;
}

.otros-articulos h2 {
  font-size: 20px;
  margin: 10px 0;
}

.otros-articulos .precio {
  font-weight: bold;
  color: var(--pccomponentes-color);
}

footer {
  background-color: var(--footer-color);
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.footer-columna {
  flex: 1;
  margin-right: 20px;
}

.footer-columna:last-child {
  margin-right: 0;
}

.footer-columna h3 {
  font-weight: bold;
}

.footer-columna ul {
  list-style-type: none;
  padding: 0;
}

.footer-columna ul li {
  margin-bottom: 20px;
  cursor: pointer;
}

.footer-columna ul li:hover {
  color: var(--pccomponentes-color);
}
